.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
    width: 100%;
}

.form-control input, textarea {
    border: 1px solid #dbc441;
    font: inherit;
    border-radius: 2px;
}

textarea {
    width: 100%;
    height: 50px;
}